@media print {

    .screen-only {
        display: none;
    }
}

@media (min-width: 500px){
    body{
        background-color: plum;
    }

    #headline::after {
        content: "with Python and JavaScript";
    }
}

@media (max-width: 499px){
    body{
        background-color: royalblue;
    }
}



body {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
    border: 9px dotted rebeccapurple;
}

.cs50-link{
    text-align: center;
    font-size: xx-large;
}