body {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
    border: 9px dotted rebeccapurple;
}

.cs50-link{
    text-align: center;
    font-size: xx-large;
}