body {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}

h1 {
    color: red;
    text-align: center;
    border: 9px dotted rebeccapurple;
}

h2, h3, h4, h5, h6 {
    color: royalblue;
    text-align: center;
    padding: 1px;
}

button{
    font-size: x-large;
}

button:hover{
    color: burlywood;
    font-size: larger;
}